*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
:root{
    --primary-color : #fff;
    --secondary-color : #000;
    
}
.dark-theme{
    --primary-color : #000;
    --secondary-color : #fff;
}

body {
    /* background-color: rgba(1, 1, 1, 0.615); */
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;

}

.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #70410e;
}

h1 {
    background-color: #774509db;
    color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
}

form {
    display: flex;
    margin-bottom: 40px;
}

.task-item{
    max-width: 260px;
    height: 25px;
    margin: 5px 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 3px;
    animation: animateIn 0.3s ease;
}

@keyframes animateIn {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.completed{
    text-decoration: line-through;
    background-color: rgba(146, 151, 120, 0.729);
}

button {
    padding: 10px;
    background-color:var(--secondary-color);
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff6c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #700a0add;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
    color :var(--secondary-color );
}

li:hover {
    background-color: #604040;
}